@use "../globals/mediaMixins" as *;

.main {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 0px;
    height: 100vh;
    overflow: auto;

    @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    @include mobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__center {
        max-width: 540px;

        @include mobile {
            max-width: 370px;
        }
    }
}