@use "../globals/colors" as *;

.postPublication {
    display: flex;
    border: $color-gray-light solid 1px;
    border-left: none;
    border-right: none;
    padding: 10px;
    min-width: 520px;

    &__picture {
        padding-right: 10px;
    }

    &__bottom {
        display: flex;
        align-items: center;

        &--imageBtn {
            color: $color-blue-accent;
            transition: color 0.2s ease;
            cursor: pointer;

            &:hover {
                color: $color-black-hover;
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        &--textarea {
            font-family: "Libre Franklin", sans-serif;
            border: none;
            resize: none;
            outline: none;
            font-size: 1.1rem;
            padding-top: 10px;
            margin-bottom: 5px;
        }
    }
}
