@use "../globals/colors" as *;

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 30px;
    border-right: $color-gray-light solid 1px;
    height: 100%;
    position: sticky;
    top: 0;
    left: 0;

    &__logo {
        padding-left: 8px;
        padding-top: 5px;
        font-size: 32px;
        font-weight: 500;
        text-decoration: none;
        color: $color-black;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        height: 100%;
        padding-bottom: 10px;

        &-ul {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &-link {
            text-decoration: none;
            color: $color-black;
            width: max-content;
            transition: background-color 0.2s ease, border-radius 0.2s ease;

            &:hover {
                background-color: $color-gray-light;
                border-radius: 24px;
            }
        }

        &-li {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 8px 16px;
            font-size: 24px;

            &-icon {
                width: 20px;
            }
        }

        &--bottomContainer {
            margin-top: auto;
            display: flex;
            flex-direction: column;
            gap: 10px;

            &--profileContainer {
                display: flex;
                align-items: center;
                gap: 15px;
                padding: 10px;
                transition: background-color 0.2s ease, border-radius 0.2s ease;
                color: $color-black;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    background-color: $color-gray-light;
                    border-radius: 24px;
                }

                &--profileNames {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    &--username {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
