$color-black: #000;
$color-black-hover: #272c30;
$color-black-transparent: #000000e6;

$color-white: #fff;

$color-gray-light: #f0f0f0;
$color-gray-dark: #6d6c6c;
$color-gray-darker: #4e4e4e;

$color-blue-accent: #1d98f0;

$color-red-light: #fce8e6;
$color-red: #a61111;

$color-green-light: #e6f4ea;
$color-green: #137333;
