.post {
    display: flex;
    border: lightgray solid 1px;
    padding: 10px;
    min-width: 400px;

    &__picture {
        padding-right: 10px;

        &--profilePicture {
            display: block;
            height: 40px;
            width: 40px;
            background-color: gray;
            border-radius: 20px;
        }
    }
}

.postRight {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__textarea {
        border: none;
        resize: none;
        outline: none;
        font-size: 1.1rem;
        padding-top: 10px;
        margin-bottom: 5px;
    }
}

.postBottom {
    display: flex;
    align-items: center;

    &__imageBtn {
        cursor: pointer;

        &:hover {
            color: lighten(black, 15%);
        }
    }

    &__postBtn {
        margin-left: auto;
        border: none;
        outline: none;
        background-color: black;
        color: white;
        border-radius: 15px;
        font-size: 0.9rem;
        font-weight: 600;
        padding: 5px 10px;
        cursor: pointer;

        &:hover {
            background-color: lighten(black, 15%);
        }
    }
}
