@use "/src/styles/globals/colors" as *;
@use "../../globals/mediaMixins" as *;

.button {
    font-family: "Libre Franklin", sans-serif;
    border: none;
    border-radius: 24px;
    margin-top: auto;
    padding: 16px 16px;
    width: 230px;
    background-color: $color-black;
    transition: background-color 0.2s ease;
    cursor: pointer;

    @include tablet {
        width: 70px;
        margin-top: 0;
        padding: 10px;
        height: 40px;
    }

    @include mobile {
        width: 70px;
        margin-top: 0;
        padding: 10px;
        height: 40px;
    }

    &:hover {
        background-color: $color-black-hover;
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        color: $color-white;
    }

    &__PostPublication {
        margin-left: auto;
        width: auto;
        font-size: 0.9rem;
        padding: 5px 10px;
    }
}